html {
        font-family: helvetica, colibri, tahoma, sans-serif;
        color: #008080;
        background-image: url("../imagens/noise.png");
        text-shadow: 0.1em 0.1em 0.1em #eee;
        background-color: #B2CCFF;
}

}
header {
display: block;
position: fixed;

}

#cabecalho{
list-style:none;
border:1px solid #c0c0c0;
margin: auto;
margin: -10px 0px 0px -10px;
width: 1366px;
display: block;
height: 64px;
background: rgb(36, 46, 60)repeat-x 0 0;
background-image: url("../imagens/noise.png");
}

header #logo {
margin: 0px 0 0 34px;
float: left;
color: #FFFFFF;
text-shadow: 0 1px 0 #E6E8FA;
font-style: normal;
font-size: 23px;
}

header nav {
margin: 16px 0 0 34px;
float: right;
}

ul {
list-style: none;
}

header nav ul li {
float: left;
margin: 0px 0px 0px 10px;
}

header nav ul li a {
display: block;
margin: 0 8px 0 0;
width: 100px;
height: 25px;
line-height: 2.2;
border-radius: 9px;
color:#FFFFFF;
text-shadow: 0 1px 0 #E6E8FA;
text-align: center;
font-size: 15px;
float: left;
}
a {
text-decoration: none;
}

form{    
    width: 37em;
    border: 3px solid #008080;
    margin: 100px 0px 0px 380px;
    background-color: white;
    border-radius: 10px;
}  
label {
background-color: #fff;
padding: 0 14px;
border-bottom: 0;
color: #404040;
font-weight: bold;
margin: 0px 0px 10px 30px;
}
input {
	border-radius: 3px 3px 0 0;
	border: 1px solid #999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	font-size: 0.8em;
	padding: 12px;
	margin: 20px 0px 20px 150px;
}
input[type='password'] {
	border-radius: 3px 3px 0 0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin: 5px 0px 20px 150px;
}
button {
	color: #fff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	border: 1px solid #AAA;
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px 20px;
	
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	margin: 10px -30px 20px 345px;
	
}

input:focus {
	border-color: #35861B;
	box-shadow: 0 0 5px #35861B;
	outline: none;
}
button:hover {
	background-color: #285582;
	background-image: linear-gradient(top, #3775B3, #285582);
	border-color: #204569;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

button:active {
	background-color: #204569;
	background-image: none;
	border-color: #1A3754;
	box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}  
  
    